/*Menu icon*/
#blog_menu_icon {background-image:url(icons/blog/mnu_blog.gif);}
#blog_page_icon {background-image:url(icons/blog/page_blog.gif);}
.clouds-directory-icon
{
	background-position: center -118px;
}
.clouds-up-icon
{
	background-position: center -1574px;
}
/*Menu icon*/
#fileman_menu_icon {background-image:url(icons/fileman/mnu_fileman.gif);}
#fileman_page_icon {background-image:url(icons/fileman/title.gif);}
#fileman_menu_icon_sections {background-image:url(icons/fileman/mnu_folder.gif);}
#fileman_menu_page_icon_sections {background-image:url(icons/fileman/title_folder.gif);}
#fileman_sticker_icon{background-image:url(icons/fileman/mnu_stickers.gif);}
#fileman_sticker_icon_sections{background-image:url(icons/fileman/title_stickers.gif);}

/* New Icons */

.fileman_icon_folder_up
{
	background-position:center -1573px;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.fileman_icon_folder
{
	background-position: center -117px;
	width: 16px;
	height: 16px;
	display: inline-block;
}


/*Toolbar*/
#btn_new_folder {background-image:url(icons/fileman/new_folder.gif);}
#btn_new_file {background-image:url(icons/fileman/new_file.gif);}
#btn_new_menu {background-image:url(icons/fileman/new_menu.gif);}
#btn_upload {background-image:url(icons/fileman/upload.gif);}
#btn_download {background-image:url(icons/fileman/download.gif);}
#btn_folder_prop {background-image:url(icons/fileman/folder_prop.gif);}
#btn_rename {background-image:url(images/popup/rename.gif);}
#btn_fileman_search {background-image:url(icons/fileman/find.gif);}

/*Medialib*/
#btn_ml_add_element {background-image:url(icons/fileman/ml_add_element.gif);}
#btn_ml_add_elements {background-image:url(icons/fileman/ml_add_elements.gif);}

td.popupmenu div.popupitem div.btn_fileman_html {background-image:url(icons/fileman/html.gif);}
td.popupmenu div.popupitem div.btn_fileman_galka {background-image:url(icons/fileman/galka.gif);}
td.popupmenu div.popupitem div.btn_fileman_php {background-image:url(icons/fileman/php.gif);}
td.popupmenu div.popupitem div.btn_fileman_text {background-image:url(icons/fileman/text.gif);}
td.popupmenu div.popupitem div.btn_fileman_view {background-image:url(icons/fileman/view.gif);}
td.popupmenu div.popupitem div.btn_fileman_prop {background-image:url(icons/fileman/folder_prop.gif);}
td.popupmenu div.popupitem div.access {background-image:url(images/popup/access.gif);}
td.popupmenu div.popupitem div.rename {background-image:url(images/popup/rename.gif);}
td.popupmenu div.popupitem div.btn_download  {background-image:url(icons/fileman/download.gif);}

/*Common actions icons */
td.popupmenu div.popupitem div.edit {background-image:url(images/popup/edit.gif);}
td.popupmenu div.popupitem div.copy {background-image:url(images/popup/copy.gif);}
td.popupmenu div.popupitem div.delete {background-image:url(images/popup/delete.gif);}
td.popupmenu div.popupitem div.view {background-image:url(images/popup/view.gif);}
td.popupmenu div.popupitem div.checked {background-image:url(images/checkbox.gif);}
td.popupmenu div.popupitem div.list {background-image:url(images/buttons/list.gif);}
td.popupmenu div.popupitem div.new {background-image:url(images/buttons/new.gif);}
td.popupmenu div.popupitem div.add {background-image:url(images/buttons/new.gif);}
td.popupmenu div.popupitem div.favorites {background-image:url(images/popup/favorite.gif);}
td.popupmenu div.popupitem div.copy{background-image:url(images/popup/copy.gif);}
td.popupmenu div.popupitem div.move{background-image:url(icons/fileman/move.gif);}
td.popupmenu div.popupitem div.pack {background-image:url(images/popup/pack.gif);}
td.popupmenu div.popupitem div.unpack {background-image:url(images/popup/unpack.gif);}

.jserror {color:#FF0000; font-weight:bold;}

/*Calendar float form*/
div.editor_dialog {width:200px;background-color:#F4F4F4;border:1px solid #A9A9A9;}
div.editor_dialog td {padding:0px; font-size:70%;}
div.editor_dialog div.content {height:100%; overflow:hidden;}

/*title*/
div.editor_dialog div.title {background-color:#23468A; background-image:url(images/fileman/editor_dialog/title_bg.gif); background-repeat:repeat-x; background-position:left top; border-bottom:1px solid #A9A9A9;}
div.editor_dialog div.title td.title-text {font-size:70%; font-weight:bold; color:#EEF1F7; padding:3px; cursor:move; vertical-align:top;}
div.editor_dialog a.close {display:block; width:13px; height:13px; background-image:url(images/fileman/editor_dialog/close.gif); overflow:hidden; margin:3px; background-repeat:no-repeat; background-position:center;}

tr.heading_dialog td {color:#525355; text-align:center; font-weight:bold; background-color:#E0E4F1;}

table.dialogprops tr td{padding: 5px 0px 5px 0px;}

/* Options medialib types*/
div.bx-ml-type-params adm-detail-content-cell-r {text-align: left;}
div.bx-ml-type {margin-top: 8px; width: 100%;}
div.bx-ml-type div.bx-ml-type-label{padding: 0 5px; background: #E0E8EA; font-weight: bold; text-align: left; color: #525355; height: 27px;}
div.bx-ml-type div.bx-ml-type-params{float: none;}

div.bx-ml-type-params table{border-collapse: collapse;}
.bx-firefox div.bx-ml-type-params table{border-collapse: collapse; display: inline;}

div.bx-ml-type-params table td{padding: 7px 7px 0 0; color: #525355; height: 26px; text-align: left;}
div.bx-ml-type-params table td.bx-ml-td-left{text-align: right; padding-top: 5px; vertical-align: middle;}
a.bx-ml-type-del{display: block; float: right; margin:6px 5px 0 0;color: #525355; padding-left: 20px; font-weight: normal !important;}
a.bx-ml-type-restore{display: block; float: right; margin:6px 5px 0 0; color: #808080 !important; font-weight: normal !important;}
span.bx-sys-value{color: #000;}
div.bx-ml-type-label div {padding: 3px; float: left; margin: 4px; cursor: default;}

div.bx-ml-editable{white-space: nowrap;}
table.edit-table-ml-hidden tr.bx-ml-hidden-row{display: none !important;}
div.bx-ml-type div.bx-ml-type-label input{margin-top: 2px;}
div.bx-ml-type div.bx-ml-type-label-deleted{display: none; padding: 0 5px; background: #E9EAF0; font-weight: bold; text-align: left; color: #525355; height: 27px;}
div.bx-ml-type-label-deleted div{padding: 3px; float: left; margin: 4px; color: #808080 !important; text-decoration: line-through !important;}
div.bx-ml-type-deleted div.bx-ml-type-label-deleted{display: block !important;}
div.bx-ml-type-deleted div.bx-ml-type-label{display: none !important;}
div.bx-ml-type-deleted div.bx-ml-type-params{display: none !important;}

/* Fileman dialogs search, replace*/
div.bx-fm-dialog table.edit-form tr.top, div.bx-fm-dialog table.edit-form tr.bottom{display: none !important;}
div.bx-fm-dialog table.edit-form tr td.left, div.bx-fm-dialog table.edit-form tr td.right{display: none !important;}
/*
div.bx-fm-dialog table.edit-form tr td.title{display: none !important;}
div.bx-fm-dialog table.edit-form tr td.delimiter{display: none !important;}
*/
div.bx-fm-dialog div.edit-form{margin: 0 !important;}

div.bx-fm-dialog table.edit-form td.content{padding:7px 5px 5px !important;}

/* redefine some styles from window_core*/
div.bx-fm-dialog-tabed{overflow: visible !important;border-width: 0px !important;top: 0px !important;/*margin: 0px !important;*/}
div.bx-fm-dialog-tabed table{border-collapse: collapse;}
div.bx-fm-dialog-tabed table td{background-image: none; margin: 0px; padding: 0px;}
div.bx-fm-dialog-tabed table.edit-tab-title{display: none;}
div.bx-fm-dialog table{border-collapse: collapse;}
div.bx-fm-dialog table td{padding: 0px;}
table.bxfm-d-params{width: 99%; margin: 7px 0;}

.bx-fm-dialog-tabed .adm-detail-title, .bx-fm-dialog-tabed .adm-detail-content-btns-wrap{display: none !important;}
.bx-fm-dialog-tabed .adm-detail-content {padding: 0 !important;}
.bx-fm-dialog-tabed .adm-detail-content-item-block{border-style: none !important; padding: 0 !important;}

/* div.bx-fm-dialog-tabed div.bx-fm-dialog table.edit-tab table.bxfm-d-params td.bxfm-d-value{padding: 4px 0px !important; background-image: none !important;} */

div.bx-fm-dialog-tabed table.edit-table table.bxfm-d-params td.bxfm-d-label{text-align: right !important; width: 30%; white-space: nowrap; vertical-align: top; padding: 4px 0 !important;}
div.bx-fm-dialog-tabed table.edit-table table.bxfm-d-params td.bxfm-d-value{text-align: left !important; width: 70%; padding: 4px 0 !important;}

table.bxfm-d-params td.bxfm-d-label label{margin: 4px 8px 0 8px; display: block;}
table.bxfm-d-params td.bxfm-d-label input{margin: 0 8px !important;}
table.bxfm-d-params-add-hide tr.bxfm-add-hide{display: none;}
table.bxfm-d-params-add-hide span.bxfm-d-span-hide{display: none;}
span.bxfm-d-span-hide{color: #000; font-size: 90%;}
table.bxfm-d-params a.bxfm-add-link{margin: 2px 0 4px 10px; display: block; float: left; text-decoration: none; outline: none;}

div.bx-fm-dialog-tabed table.edit-tab tr.bxfm-d-title td{background-color: #EEEEEE !important; height: 22px;}

/* Input Select*/
div.bx-fm-dialog input.bxfm-is-inp, input.bxfm-is-inp{background: #fff url(/bitrix/images/fileman/controls_ex/sort_down.gif) right center no-repeat;}
div.bxfm-is-popup {
	background: #fff;
	border: 1px solid #D5E1E4;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 18px 20px rgba(72, 93, 99, 0.3);
	position: absolute;
	width: 200px;
	display: none;
	top:20px;
	z-index:15;
	overflow: hidden;
	padding: 8px 0;
}

div.bxfm-is-item {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	list-style: none outside none;
	text-align: left;
	text-indent: 0;
	text-transform: none;
	vertical-align: baseline;
	visibility: visible;
	white-space: normal;
	word-spacing: normal;
	padding: 2px;
	cursor: pointer;
	color: #2A2A2A;
	border: none;
}
div.bxfm-is-item span.bxfm-highlighted{color: #000000 !important; font-weight: bold;}
div.bxfm-is-item-over{background-color:#ebf2f4;}
div.bxfm-d-adjust-div{display: none; margin: 2px 0 3px;}
div.bxfm-is-item-concur{background-color:#d9e0e2;}

div.bxfm-search-cont input{font-size: 13px !important;}
div.bxfm-search-cont tr.bxfm-d-only-replace{display: none !important;}
div.bxfm-replace-cont tr.bxfm-d-only-search{display: none !important;}

/* Search count dialog */
div.bxfm-count-res-div{margin: 8px; height: 18px; padding-top: 4px;}
div.bxfm-count-res-div span{font-size: 110%; font-weight: bold;}

div.bxfm-count-wait{background: url(/bitrix/themes/.default/images/wait.gif) no-repeat 190px 0 transparent;}
div.bxfm-search-res-div{margin: 5px 0 5px 5px; height: 20px;}
div.bxfm-search-res-div div.bxfm-wait-1{display: none;}
div.bxfm-wait div.bxfm-wait-1{display: block !important;background: url(/bitrix/themes/.default/images/wait.gif) no-repeat 0px 0 transparent;width: 20px;height: 20px;float: right;margin: -1px 3px 0 0;}

div.bxfm-search-res-div span{font-size: 110%; font-weight: bold;}
div.bxfm-search-res{border: 1px solid #DCE7ED;background-color: #FFFFFF; width: 415px; overflow: none;margin-top: 12px;display: none;}

div.bxfm-search-res div{margin: 3px 5px;}

div.bxfm-search-res table{border-collapse: collapse; width: 100%;}
div.bxfm-search-res table tr.bxfm-s-res-head td{background-color: #E2EBEE; font-weight: bold !important;}
div.bxfm-search-res table td{text-align: center;}
div.bxfm-search-res table tr.bxfm-s-res-head td.bxfm-h-type{width: 25px;}
div.bxfm-search-res table tr.bxfm-s-res-head td.bxfm-h-path{text-align: left;}
div.bxfm-search-res table tr.bxfm-s-res-head td.bxfm-h-date{width: 140px;}
div.bxfm-search-res table tr.bxfm-s-res-head td.bxfm-h-size{width: 60px;}

span.bxfm-rep-cnt, span.bxfm-search-cnt {font-weight: normal !important;}
span.bxfm-rep-cnt span{color: #f00; font-weight: bold;}
span.bxfm-search-cnt span{font-weight: bold;}

span.bxfm-only-for-phrase{display: none; font-weight: normal !important;}
div.bxfm-with-phrase span.bxfm-only-for-phrase{display: inline !important;}
.def-val{color: #808080;}
.bxfm-warn{font-weight: bold!important; color: #f00 !important; display: none;}
.bxfm-dialog-content{overflow: hidden !important;}

/* server permission dialog*/
div.bxfm-sperm-cont {margin: 5px; width: 530px; border:1px solid #E0E4F1;}
div.bx-fm-dialog-serv-perm{overflow: hidden !important;}

table.bxsp-tbl{border-collapse: collapse; margin: 5px 15px;}
table.bxsp-tbl td{background-image: none !important; padding: 0px !important;}
table.bxsp-tbl td.bxsp-label-cell{padding: 0 20px 0 6px !important;}
table.bxsp-tbl-2{border-collapse: collapse; margin-left: 12px;}
table.bxsp-tbl-2 td{background-image: none !important; padding: 0 3px 11px 3px !important;}

div.bx-s-perm-gr{height: 70px;}
div.bx-s-perm-gr div.bx-s-title{background-color: #E0E4F1; color: #525355; padding: 8px 20px; font-weight: bold;}
div.bx-s-perm-gr div.bx-s-check-gr{float: left; margin: 10px 15px;}

div.bx-s-set-recur{margin: 10px 15px;}
div.bx-s-res-val{padding: 8px 10px;}
div.bx-s-res-val label{font-weight: bold;}
span.bx-sp-cur-val {font-weight: bold; color: #000080;}

table.bxsp-file-list {border-collapse: collapse; margin: 5px; border:1px solid #E0E4F1;}
table.bxsp-file-list td {border-top: 1px dotted #E0E4F1 !important; padding: 5px 10px!important;}

table.bxsp-file-list tr.bxsp-header td{background-color: #E0E4F1; font-weight: bold; color: #525355 !important; border-bottom: 1px dotted #E0E4F1; border-top-width: 0px !important;}
table.bxsp-file-list tr td.bxsp-filename{}
table.bxsp-file-list tr td.bxsp-sub{padding-left: 30px!important;}
table.bxsp-file-list tr td.bxsp-value{text-align: center;}
table.bxsp-file-list tr td.bxsp-separator{}
table.bxsp-file-list-init td.bxsp-status{display: none !important;}
table.bxsp-file-list tr td.bxsp-status{color: #808080; font-weight: bold;}
.bxsp-green{color: #008000 !important;}
.bxsp-red{color: #ff0000 !important;}
div.bxsp-error-note {display: none; margin: 15px 5px;}
div.bxsp-error-note div.bxsp-file div{margin-left: 20px; font-weight: bold;}

/* Copy move dialog*/
div.bx-fm-copy-dialog{overflow: hidden !important;}
div.bx-copy-cont{margin: 5px;}
div.bx-fm-copy-dialog div.bx-copy-cont input{font-size: 13px !important; padding: 0 2px !important; height: 21px !important;}
div.bx-copy-cont {display: none;}
table.bx-copy-cont-tbl {border-collapse: collapse; width: 100%;}
table.bx-copy-cont-tbl td{padding: 0 !important;}
div.bx-copy-cont table.bx-copy-cont-tbl tr.bx-copy-d-title td{background-color: #E2EBEE !important; height: 22px;}
div.bx-copy-cont a.bx-copy-add-link{margin: 3px 0 4px 10px; display: block; float: left; text-decoration: none; outline: none;}
span.bx-copy-d-span-hide{color:#000000; font-size:90%;}
div.bx-fm-copy-dialog table.bx-copy-cont-tbl td.bxfm-d-label{text-align: right !important; width: 30%; white-space: nowrap; vertical-align: top; padding-bottom: 4px !important;}
div.bx-fm-copy-dialog div.bx-core-dialog-content{overflow: hidden!important;}

div.bx-fm-copy-dialog table.bx-copy-cont-tbl  td.bxfm-d-value{text-align: left !important; width: 70%; padding-bottom: 4px !important;}
div.bx-fm-copy-dialog table.bx-copy-cont-tbl td{background-image:none!important;}
table.bx-copy-cont-tbl td.bxfm-d-label label {display:block; margin:4px 8px 0;}
table.bx-copy-cont-tbl td.bxfm-d-value label {display:block; margin:0 0 0 8px;}
table.bx-copy-cont-tbl-add-hide tr.bxfm-add-hide{display: none;}
table.bx-copy-cont-tbl-add-hide span.bx-copy-d-span-hide{display: none;}

div.bx-copy-to-all{margin: 4px 45px; text-align: left !important;}
div.bx-copy-to-all table{border-collapse: collapse; }
div.bx-copy-to-all table td{padding: 0px; background-image: none!important;}

div.bx-core-dialog-foot-ask{padding-bottom: 2px !important;}
table.bx-copy-compare-tbl {margin: 0 20px; border-collapse: collapse;}
.bx-fm-copy-dialog table.bx-copy-compare-tbl td{padding: 4px 8px!important; background-color: #FFFFFF; border-left: 1px solid #E3E3E3; border-right: 1px solid #E3E3E3; background-image: none!important;}
table.bx-copy-compare-tbl tr.bx-copy-bottom td{border-bottom: 1px solid #E3E3E3;}

table.bx-copy-compare-tbl tr.bx-copy-title td {	font-weight: bold; padding: 4px 10px !important; background-color: #E2EBEE; border-color:#DCE7ED !important;}
table.bx-copy-compare-tbl tr.bx-copy-title td.bx-copy-sep-td{padding: 0!important; width: 15px; background-color: #F8F9FC!important; border-width: 0 !important;}

.bx-copy-name-cnt{position: relative; width: 200px; overflow: hidden; white-space: nowrap;}
.bx-copy-new-name{color: #606060; font-style:italic; position: absolute; top: 0px; left: 0px; background-color: #ffffff; width: 200px; font-weight: bold !important;}

.bxcnn-0{color: #FFFFFF!important; display: none;}
.bxcnn-1{color: #CCCCCC!important;}
.bxcnn-2{color: #808080!important;}

input.bx-quick-path{ font-size:12px; margin-top:2px;}

img.bxfm-linked, img.bxfm-unlinked{border-width: 0!important; cursor:pointer!important; height:21px!important; margin:0 0 -5px!important;width:12px!important;}
img.bxfm-linked{background: url(/bitrix/themes/.default/icons/fileman/link.gif) no-repeat transparent center center;}
img.bxfm-unlinked{background: url(/bitrix/themes/.default/icons/fileman/unlink.gif) no-repeat transparent center center;}

.bx-ed-type-selector {text-align: center !important;}
.bx-ed-type-selector-item {display: inline-block;padding: 5px 2px!important;}

.bx-ed-type-selector-item input{margin: 0!important; padding: 0!important;}
.bx-ed-type-selector-item label{padding-right: 5px!important; padding-left: 2px !important; color:#365069!important; font-size: 12px!important;}

.bxfm-site-sel{width: 33px; height: 26px; border: 1px solid #627394;background: #fff url(/bitrix/images/fileman/controls_ex/sort_down.gif) right center no-repeat; cursor: pointer; display: inline-block; margin: 1px 5px 0 7px; vertical-align: bottom !important; border-radius: 3px;}
.bxfm-site-sel div{font-family: Verdana!important; font-size: 11px!important; color: #627394!important; margin: 4px 0 0 3px!important; padding: 3px 0 0 2px !important;}

.bxfm-site-sel-it{/* height: 20px; */ width: 200px;margin: 0!important; padding: 0!important;display: inline-block;}
.bxfm-ss-checked{background-image: url(/bitrix/themes/.default/images/checkbox.gif);background-repeat: no-repeat; background-color: transparent; background-position: 4px 2px;font-weight: bold!important;}
.bxfm-ss-over{background-color:#DBE3F2!important;}
.bxfm-site-sel-it div{margin: 0px 2px 0 26px!important; font-family: Verdana!important; font-size: 11px!important; padding:4px 0 4px 3px!important;}

.bxfm-text-overflow{-o-text-overflow: ellipsis; text-overflow: ellipsis; -moz-binding: url('/bitrix/js/fileman/text-overflow.xml#ellipsis'); overflow:hidden; white-space: nowrap;}


/* Pack Unpack dialog */

div.bx-fm-pack-dialog{overflow: hidden !important;}
div.bx-pack-cont{margin: 5px;}
div.bx-fm-pack-dialog div.bx-pack-cont input{font-size: 13px !important; padding: 0 2px !important; height: 21px !important;}
div.bx-pack-cont {display: none;}
table.bx-pack-cont-tbl {border-collapse: collapse; width: 100%;}
table.bx-pack-cont-tbl td{padding: 0 !important;}
div.bx-pack-cont table.bx-pack-cont-tbl tr.bx-pack-d-title td{background-color: #EEEEEE !important; height: 22px;}
div.bx-pack-cont a.bx-pack-add-link{margin: 3px 0 4px 10px; display: block; float: left; text-decoration: none; outline: none;}
span.bx-pack-d-span-hide{color:#000000; font-size:90%;}
div.bx-fm-pack-dialog table.bx-pack-cont-tbl td.bxfm-d-label{text-align: right !important; width: 30%; white-space: nowrap; vertical-align: top; padding-bottom: 4px !important;}
div.bx-fm-pack-dialog div.bx-core-dialog-content{overflow: hidden!important;}

div.bx-fm-pack-dialog table.bx-pack-cont-tbl  td.bxfm-d-value{text-align: left !important; width: 70%; padding-bottom: 4px !important;}
div.bx-fm-pack-dialog table.bx-pack-cont-tbl td{background-image:none!important;}
table.bx-pack-cont-tbl td.bxfm-d-label label {display:block; margin:4px 8px 0;}
table.bx-pack-cont-tbl td.bxfm-d-value label {display:block; margin:0 0 0 8px;}
table.bx-pack-cont-tbl-add-hide tr.bxfm-add-hide{display: none;}
table.bx-pack-cont-tbl-add-hide span.bx-pack-d-span-hide{display: none;}

div.bx-pack-to-all{margin: 4px 45px; text-align: left !important;}
div.bx-pack-to-all table{border-collapse: collapse; }
div.bx-pack-to-all table td{padding: 0px; background-image: none!important;}

div.bx-core-dialog-foot-ask{padding-bottom: 2px !important;}
table.bx-pack-compare-tbl {margin: 0 20px; border-collapse: collapse;}
.bx-fm-pack-dialog table.bx-pack-compare-tbl td{padding: 4px 8px!important; background-color: #FFFFFF; border-left: 1px solid #E3E3E3; border-right: 1px solid #E3E3E3; background-image: none!important;}
table.bx-pack-compare-tbl tr.bx-pack-bottom td{border-bottom: 1px solid #E3E3E3;}

table.bx-pack-compare-tbl tr.bx-pack-title td{font-weight: bold; padding: 4px 10px !important; background-color: #D5DAE9; border-color:#D5DAE9 !important;}
table.bx-pack-compare-tbl tr.bx-pack-title td.bx-pack-sep-td{padding: 0!important; width: 15px; background-color: #F8F9FC!important; border-width: 0 !important;}

.bx-pack-name-cnt{position: relative; width: 200px; overflow: hidden; white-space: nowrap;}
.bx-pack-new-name{color: #606060; font-style:italic; position: absolute; top: 0px; left: 0px; background-color: #ffffff; width: 200px; font-weight: bold !important;}

/* archive type selector*/
div.bxfm-arctype-sel{margin: 1px 5px 0 0;float: left; width: 260px; height: 18px; border: 1px solid #EEEEEE;background: #fff url(/bitrix/images/fileman/controls_ex/sort_down.gif) right center no-repeat; cursor: pointer;}
div.bxfm-arctype-sel div{font-family: Verdana!important; font-size: 11px!important; color: #000!important; margin: 2px 0 0 3px!important; padding: 0!important;}
div.bxfm-arctype-sel-it{/* height: 20px; */ width: 260px;margin: 0!important; padding: 0!important;}
div.bxfm-at-is-popup{background-color: #FCFCFC !important; background-image: url(/bitrix/themes/.default/images/menu_gutter.gif) !important; background-repeat: repeat-y !important;border: 1px solid #B2B2B2; position: absolute;width: 260px; display: none; top:20px;z-index:15; overflow: hidden;}
div.bxfm-at-checked{background-image: url(/bitrix/themes/.default/images/checkbox.gif);background-repeat: no-repeat; background-color: transparent; background-position: 4px 2px;font-weight: bold!important;}
div.bxfm-at-over{background-color:#DBE3F2!important;}
div.bxfm-arc-type-it div{margin: 0px 2px 0 26px!important; font-family: Verdana!important; font-size: 11px!important; padding:4px 0!important;}

div.bx-fm-non-selectable {border:none !important; background: none!important; cursor: default!important}

.bx-ml-pnbutton{float:left !important; cursor: pointer; width: 25px; height: 21px; margin:-1px 0 0 2px !important;}
.bx-ml-pnbutton div.bx-pn1{background: url(/bitrix/images/fileman/medialib/browse.gif); width: 14px; height: 21px; float: left;}
.bx-ml-pnbutton div.bx-pn2{background: url(/bitrix/images/fileman/medialib/browse.gif) -14px 0; width: 10px; height: 21px; float: left;}
.bx-ml-pnbutton div.bx-pressed{background: url(/bitrix/images/fileman/medialib/browse.gif) -39px 0;}
.bxml-empty-icon{height: 22px !important; width: 20px !important;}
/*Menu icon*/
#form_menu_icon {background-image:url(icons/form/mnu_form.gif);}
#form_page_icon {background-image:url(icons/form/title.gif);}

/*buttons*/
div#btn_delete {background-image:url(images/buttons/delete.gif);}
div#btn_new {background-image:url(images/buttons/new.gif);}

/*Site edit mode buttons*/
.form_edit_tpl {width:17px; height:17px; background-repeat:no-repeat; background-image: url(/bitrix/images/form/edit_templ_icon.gif)}
.form_edit_default_tpl {width:17px; height:17px; background-repeat:no-repeat; background-image: url(/bitrix/images/form/edit_def_templ_icon.gif)}

table.contextmenu #btn_current {background-color:#DBE3F2; border:1px solid #AEB6C2; height:22px; margin:0px 0px 0px 4px; font-weight: bold; padding-left: 2px;}
/*Menu icon*/
#forum_menu_icon {background-image:url(icons/forum/mnu_forum.gif);}
#forum_page_icon {background-image:url(icons/forum/title.gif);}

/*Menu icon*/
#highloadblock_menu_icon {background-image:url(icons/highloadblock/mnu_hlblock_settings.gif);}
#highloadblock_page_icon {background-image:url(icons/highloadblock/title_settings.gif);}
img.linked
{
	position: relative;
	left: 2px;
	top: 6px;
	width: 11px;
	height: 21px;
	border: none;
	cursor: pointer;
}
.iblock-strike-out td
{
	text-decoration: line-through;
}

.iblock-section-icon
{
	background-position:  center -118px;
}
.perfmon_code {color:navy;}
.perfmon_number {white-space:nowrap;}
.perfmon_number span {width:4px;display:inline-block;}
/*Menu icon*/
#security_menu_icon {background-image:url(icons/security/mnu_security.gif);}
#security_page_icon {background-image:url(icons/security/title.gif);}

.otp-popup .otp-description li {
    padding: 4px 0;
}

.otp-popup .otp-connect .input-type {
    text-align: center;
    margin-bottom: 10px;
}

.otp-popup .input-type .current {
    font-weight: bold;
}

.otp-popup .input-type .separator {
    color: #808080;
    margin-left: 20px;
    margin-right: 20px;
}

.otp-connect .input-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 220px;
    border: 2px solid #e0e3e5;
    border-radius: 2px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.otp-connect #connect-by-qr .input-wrapper {
    width: 220px;
}

.otp-connect #connect-by-manual-input .input-wrapper {
    width: 420px;
}

.otp-popup .type-title {
    font-weight: bold;
    line-height: 25px;
}

.otp-popup .error-wrapper {
    text-align: center;
    margin-bottom: 10px;
    min-height: 20px;
}

.otp-popup .error-wrapper div {
    color: red;
}

.otp-recovery-codes .input-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 180px;
    border: 2px solid #e0e3e5;
    border-radius: 2px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}

.otp-recovery-codes .codes-container li.active {

}

.otp-recovery-codes .codes-container li.used {

}

.otp-recovery-codes .codes-container li.used span:nth-child(1) {
    text-decoration: line-through;
}

.otp-link-button {
    margin-left: 20px;
    cursor: pointer;
    text-decoration: underline;
}
/*
    sprite
*/
.sender-mailing-sprite{
    background: url("images/sender/mailing_sprite.png") no-repeat;
    width: 41px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
}

/*
    box list, example: group page, mailing chain page
*/
.sender-box-selector, .sender-box-list-item, .sender-box-list-item-caption, .sender-box-list-item-block-item{
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
    border-collapse: collapse;
}
.sender-box-selector{
    background-color: #E0E8EA;
    padding: 10px;
    margin-bottom: 30px;
}
.sender-box-selector-caption{
    font-weight: bold;
    padding-bottom: 5px;
}
.sender-box-selector-control{

}

.sender-box-list{
    /*  padding-bottom: 30px;
    min-height: 300px; */
}
.sender-box-list select {max-width: 570px;}
.sender-box-list-item{
    margin-top: 15px;
    border-radius: 5px;
}
.sender-box-list-item-hidden {

}

.sender-box-list-item-hidden .sender-box-list-item-caption {
    border-radius: 5px;
}
.sender-box-list-item-caption{
    vertical-align: middle;
    background-color: #dde4e7;
    padding: 10px;
    font-weight: bold;
    color: #5C6B6F;
    cursor: pointer;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #989898;
    border-right: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-radius: 5px 5px 0px 0px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,1), 0px 1px 0px 0px #dedede;
}
.sender-box-list-item-caption:hover {

}
.sender-box-list-item-caption-image{
    display: inline-block;
    vertical-align: middle;
    height: 14px;
    width: 20px;

    background: url("images/sender/bx-admin-sprite-small-2.png") no-repeat 0 -4351px!important;
}
.sender-box-list-item-hidden .sender-box-list-item-caption-image{
    background: url("images/sender/bx-admin-sprite-small-2.png") no-repeat 0 -4331px!important;
}
.sender-box-list-item-caption-delete{
    float: right;
    opacity: 0.7;
    height: 20px;
    width: 23px;
    margin-top: -2px;
    background: url(images/sender/bx-admin-sprite-small-2.png) no-repeat 6px -2446px;
}
.sender-box-list-item-caption-delete:hover {
    opacity: 1;
}
.sender-box-list-item-caption-additional{
    float: right;
    padding-right: 50px;
    vertical-align: sub;
    line-height: 20px;
}
.sender-box-list-item-caption-additional-less{
    font-weight: normal;
    padding-right: 5px;
    color: #485b6d;
    text-shadow: 0px 1px 0px #fff;
}
.sender-box-list-item-caption-name{
    vertical-align: sub;
}
.sender-box-list-item-block{
    padding: 10px;
    background-color: #FFF;
    border-radius: 0px 0px 5px 5px;
}
.sender-box-list-item-hidden .sender-box-list-item-block{
    display: none;
}
.sender-box-list-item-block-item{
    padding: 10px;
    background-color: #F5F9F9;
    border-radius: 4px;
}
.sender-box-list-item-block-item td {
    padding-left: 10px;
}
.sender-box-list-item-block-item td:first-child {
    text-align: right;
}
.sender-box-list-item-block-item td:last-child {
    text-align: left;
}


/*
    group page summary address counter
*/
div.sender-group-address-counter{
    padding: 30px;
    background-color: #cdedf9;
    margin-top: 20px;
}
div.sender-group-address-counter .sender-group-address-counter-img{
    background-position: center -248px;
    vertical-align: middle;
}
div.sender-group-address-counter .sender-group-address-counter-text{
    font-size: medium;
    color: #3E494D;
    padding-left: 10px;
    vertical-align: middle;
}
div.sender-group-address-counter .sender-group-address-counter-cnt{
    float: right;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #41474f;
    text-shadow: 0px 1px 0px #fff;
}
div.sender-group-address-counter .sender-group-address-counter-cnttext{
    float: right;
    font-size: small;
    padding-right: 20px;
    color: #3E494D;
}



.sender-text-description-header{
    font-weight: bold;
}
.sender-text-description-detail{
    font-weight: normal;
}

/*
    mailing chain page
*/
.sender-test-send{
    width: 100%; padding: 30px; padding-left: 60px; background-color: #C9E4F0;
}
.sender-test-send-header{
    padding-bottom: 20px;
    vertical-align: top;
}
.sender-test-send-header-grey{
    color: #94ADC2;
}
.sender-test-send-header-img{
    background-position: center -152px;
}
.sender-test-caption{
    font-weight: bold;
}
.sender-test-recent{
    padding-bottom: 20px;
}
.sender-link-email, .sender-link-email:hover{
    text-decoration: none;
    border-bottom: 1px dashed #2675d7;
    cursor: pointer;
}


/*
    mailing group
*/
.sender-mailing-group{

}
.sender-mailing-group-head-img{

}
.sender-mailing-group-head-img-inc{
    background-position: center -213px;
}
.sender-mailing-group-head-img-exc{
    background-position: center -182px;
}
.sender-mailing-group-head-text{
    font-weight: bold;
    font-size: 15px;
}
.sender-mailing-group-block-all{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    display: inline-block;
}
.sender-mailing-group-block-sel{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    display: inline-block;
}
.sender-mailing-group-block-sect-delim{
    width: 90px;
    text-align: center;
}


/*
    mailing chain status
*/
.sender-mailing-status{
    background-color: white;
    border-color: #D3D8DB;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 0 10px 15px;
}
.sender-mailing-status-text{
    vertical-align: middle;
    font-weight: bold;
}
.sender-mailing-status-text-n{
    color: #64717F;
}
.sender-mailing-status-text-s{
    color: #46B7EA;
}
.sender-mailing-status-text-w{
    color: #7BA31D;
}
.sender-mailing-status-text-p{
    color: #000;
}
.sender-mailing-status-text-y{
    color: #7BA31D;
}
.sender-mailing-status-text-date{
    color: #000;
    font-weight: normal;
}
.sender-mailing-status-creator{
    color: #C2C2C2;
    font-weight: normal;
    padding-left: 5px;
}
.sender-mailing-status-img{
    background-position: center 5px;
    width: 41px;
    vertical-align: middle;
}
.sender-mailing-status-img-n{
    background-position: center 5px;
}
.sender-mailing-status-img-s{
    background-position: center -110px;
}
.sender-mailing-status-img-w{
    background-position: center -70px;
}
.sender-mailing-status-img-p{
    background-position: center -30px;
}
.sender-mailing-status-img-y{
    background-position: center -70px;
}


/*
    mail templates
*/
.sender-template-caption{
    font-weight: bold;
    font-size: 14px;
}
.sender-template-list-caption{
    font-weight: bold;
    margin-left: 20px;
}
.sender-template-type-selector{
    width: 300px;
    -webkit-user-select: none;
    overflow: hidden;
    margin-bottom: 30px;
}
.sender-template-type-selector-title {
    position: relative;
    font-weight: bold;
    margin-bottom: 30px;
    height: 15px;
    font-size: 14px;
}

.sender-template-type-selector-title:after {
    content: '';
    position: absolute;
    left: 0;
    right: 30px;
    top: 30px;
    margin: auto;
    height: 1px;
    background: rgb(224, 224, 224);
}

.sender-template-type-selector-button{
    padding: 7px 13px;
    margin-bottom: 10px;
    display: inline-block;
    float: left;
    clear: left;
    font-weight: normal;
    cursor: pointer;
}
.sender-template-type-selector-button:hover, .sender-template-type-selector-button-selected{
    color: #fff;
    background-color: #5CC3EF;
}

.sender-template-list-container {
    width: 100%; margin-left: 20px;
}
.sender-template-list-type-blockempty{
    margin: 50px;
}
.sender-template-list-type-block{
    width: 140px;
    margin-right: 40px;
    text-align: center;
    margin-bottom: 40px;
    display: inline-block;
    vertical-align: bottom;
}
.sender-template-list-type-block-caption{

}
.sender-template-list-type-block-img{
    height: 185px;
    width: 140px;
    background-color: #ECECEC;
    margin-top: 10px;
    cursor: pointer;
}
.sender-template-list-type-block-img img{
    height: 185px;
    width: 140px;
}



/*
    statictics
*/

.sender_statistics{
    background-color: white;
    display: inline-block;
    border-radius: 5px;
}

.sender-stat-graph {
    width: 550px;
    height: 100%;
    font-size: 11px;
    background-color: white;
}

.sender-stat-cont{
    background-color: white;
    margin-top: 20px;
    white-space: nowrap;
    padding-bottom: 80px;
}

.sender-stat-right{
    font-size: 15px;
    margin-left: 20px;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    height: 368px;
}
.sender-stat-left{
    font-size: 15px;
    margin-left: 20px;
    width: 400px;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
}

.sender-stat-info {
    height: 100%;
    font-size: 12px;
    background-color: papayawhip;
    margin-top: 15px;
    padding: 15px;
}
.sender-stat-info-list{
    margin-bottom: 20px;
}
.sender-stat-info-list table{
    width: 100%;
}
.sender-stat-info-list table td:first-child{
    width: 1%;
    white-space: nowrap;
    padding-bottom: 10px;
}
.sender-stat-info-list table td.sender-stat-info-list-head{
    font-weight: bold;
}
.sender-stat-info-list table td.sender-stat-info-list-value{
    padding-bottom: 10px;
    padding-left: 5px;
    font-weight: bold;
    width: 99%;
    word-wrap: break-word;
    word-break: break-word;
    word-break: break-all;
    overflow: hidden;
}

.sender-stat-info-cnt{
    background-color: white;
    padding: 15px;
}
.sender-stat-info-cnt table{
    width: 100%;
}
.sender-stat-info-cnt table td:first-child{
    font-weight: bold;
    width: 99%;
}
.sender-stat-info-cnt table td:first-child.sender-stat-info-cnt-metric-add{
    font-weight: normal;
}
.sender-stat-info-cnt table td:first-child.sender-stat-info-cnt-metric-name{
    padding-left: 15px;
    font-weight: normal;
}
.sender-stat-info-cnt table td:last-child{
    width: 1%;
    white-space: nowrap;
}
.sender-stat-info-cnt table td:last-child span{
    font-weight: bold;
}

.sender-stat-reiterate-cont{
    background-color: white;
    margin-top: 60px;
    height: 500px;
    padding-bottom: 80px;
    margin-left: 20px;
}
.sender-stat-reiterate-head{
    font-size: 15px;
}
.sender-stat-reiterate-graph{
    width: 100%;
    height: 500px;
    font-size: 11px;
}





.adm-white-container {
    background: #fff;
    padding: 30px 25px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    border: 1px solid #ccd4d5;
    margin-top: 25px;
}

/*h2------------------------------------------------------------------------------------------------------------------*/
h2.adm-white-container-title {
    position: relative;
    font-size: 26px;
    font-weight: bold;
    margin: 0px 0px 40px;
}

h2.adm-white-container-title:before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50px;
    width: 100%;
    height: 1px;
    background: #eff0f1;
}

/*p-------------------------------------------------------------------------------------------------------------------*/
p.adm-white-container-p {
    font-size: 14px;
    color: #5f707b;
    margin-bottom: 20px;
}

/*input & label ------------------------------------------------------------------------------------------------------*/
.adm-white-container input.sender-wizard-radio {
    display: none;
}

.adm-white-container label.sender-wizard-radio-label {
    margin-right: 40px;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}
.adm-white-container label.sender-wizard-radio-label span {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 8px;
    border: 1px solid #939393;
    background: url("images/sender/radio-bg.png") no-repeat -1px 0px;
    margin-right: 7px;
    vertical-align: bottom;
}
.adm-white-container label.sender-wizard-radio-label span:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 6px;
    height: 6px;
    margin: auto;
    border-radius: 3px;
    background: transparent;
}

.adm-white-container input[type=radio]:checked + label {
    font-weight: bold;
}
.adm-white-container input[type=radio]:checked + label span {
    background-position: -1px -17px;
    border: 1px solid #5b5b6a;
}
.adm-white-container input[type=radio]:checked + label span:before {
    background: #000;
}

.bx-ie8 .adm-white-container input.sender-wizard-radio {
    display: inline-block;
    vertical-align: middle;
}

.bx-ie8 .adm-white-container label span {
    display: none;
}
/*adm-email-master-----------------------------------------------------------------------------------------------------*/

.adm-email-master {
    padding: 25px 0px;
    background: #f7fafa;
    border: 1px solid #e2ebef;
    font-size: 0px;
    margin: -16px -11px;
    overflow: hidden;
    white-space: nowrap;
}

.adm-email-master .adm-email-master-step {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    text-align: center;
    white-space: normal;
}

.adm-email-master .adm-email-master-step .adm-email-master-step-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 98px;
    height: 99px;
    background: url("images/sender/email-master-bg.png") no-repeat 0px 0px;
}
.adm-email-master .adm-email-master-step.active .adm-email-master-step-icon {
    background-position: 0px -100px;
}
.adm-email-master .adm-email-master-step.passed .adm-email-master-step-icon {
    background-position: 0px -200px;
}

.adm-email-master .adm-email-master-step .adm-email-master-step-icon:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: block;
    margin: auto;
    background: url("images/sender/email-master-step.png") no-repeat 0px 0px;
}

.adm-email-master .adm-email-master-step-addmail .adm-email-master-step-icon:before {
    width: 58px;
    height: 49px;
    background-position: 0px 0px;
    top: -8px;
}
.adm-email-master .adm-email-master-step-addgroup .adm-email-master-step-icon:before {
    width: 66px;
    height: 46px;
    background-position: 0px -54px;
    left: 3px;
}
.adm-email-master .adm-email-master-step-addissue .adm-email-master-step-icon:before {
    width: 53px;
    height: 52px;
    background-position: -2px -105px;
    left: -4px;
    top: -1px;
}
.adm-email-master .adm-email-master-step-timingmail .adm-email-master-step-icon:before {
    width: 62px;
    height: 62px;
    background-position: 0px -156px;
    left: 5px;
}
.adm-email-master .adm-email-master-step-done .adm-email-master-step-icon:before {
    width: 45px;
    height: 44px;
    background-position: -6px -223px;
    left: -4px;
}

.adm-email-master .adm-email-master-step .adm-email-master-step-divider {
    position: absolute;
    top: 45px;
    width: 100%;
    height: 10px;
    background: #d4d9db;
}
.adm-email-master .adm-email-master-step:first-child .adm-email-master-step-divider {
    width: 50%;
    right: 0px;
}
.adm-email-master .adm-email-master-step:last-child .adm-email-master-step-divider {
    width: 50%;
    left: 0px;
}

.adm-email-master .adm-email-master-step .adm-email-master-step-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.adm-white-container table.adm-detail-content-table>tbody>tr>td:first-child{
    text-align: right;
    padding: 5px 4px 7px 0;
}
.adm-white-container table.adm-detail-content-table>tbody>tr.adm-detail-required-field>td:first-child,
.adm-white-container table.adm-detail-content-table.edit-table>tbody>tr.adm-detail-required-field>td:first-child {
    font-weight: bold;
}
.adm-white-container table.adm-detail-content-table>tbody>tr>td:last-child{
    padding: 5px 0 7px 4px;
}
.adm-white-container table.adm-detail-content-table>tbody>tr>td:only-child{
    text-align: left;
}
.adm-white-container table.adm-detail-content-table>tbody>tr.adm-detail-required-field>td:only-child{
    font-weight: normal;
}

.bx-ed-type-selector{
    margin-bottom: 10px;
}


.adm-white-container {
    background: #fff;
    padding: 30px 25px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    border: 1px solid #ccd4d5;
    margin-top: 25px;
}
.sender-wizard-popup .adm-white-container {overflow: auto;}
/*h2------------------------------------------------------------------------------------------------------------------*/
h2.adm-white-container-title {
    position: relative;
    font-size: 26px;
    font-weight: bold;
    margin: 0px 0px 40px;
}

h2.adm-white-container-title:before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50px;
    width: 100%;
    height: 1px;
    background: #eff0f1;
}

/*p-------------------------------------------------------------------------------------------------------------------*/
p.adm-white-container-p {
    font-size: 14px;
    color: #5f707b;
    margin-bottom: 20px;
    font-weight: normal;
}

p.adm-white-container-subtitle {
    font-size: 22px;
    color: #000;
    line-height: 48px;
    background: #ecf2f2;
    padding: 0px 20px;
    margin-bottom: 25px;
    border-radius: 3px;
}

/*input & label ------------------------------------------------------------------------------------------------------*/
.adm-white-container input[type="radio"]{
    display: none;
}

.adm-white-container label {
    margin-right: 40px;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    line-height: 16px;
}
.adm-white-container label span {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 8px;
    border: 1px solid #939393;
    background: url("images/sender/radio-bg.png") no-repeat -1px 0px;
    margin-right: 7px;
    vertical-align: bottom;
}
.adm-white-container label span:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 6px;
    height: 6px;
    margin: auto;
    border-radius: 3px;
    background: transparent;
}

.adm-white-container input[type=radio]:checked + label {
    font-weight: bold;
}
.adm-white-container input[type=radio]:checked + label span {
    background-position: -1px -17px;
    border: 1px solid #5b5b6a;
}
.adm-white-container input[type=radio]:checked + label span:before {
    background: #000;
}

/*adm-email-master-----------------------------------------------------------------------------------------------------*/
.adm-email-master {
    padding: 25px 0px;
    background: #f7fafa;
    border: 1px solid #e2ebef;
    font-size: 0px;
    margin: -16px -11px;
    overflow: hidden;
    white-space: nowrap;
}

.adm-email-master .adm-email-master-step {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    text-align: center;
    white-space: normal;
}

.adm-email-master .adm-email-master-step .adm-email-master-step-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 98px;
    height: 99px;
    background: url("images/sender/email-master-bg.png") no-repeat 0px 0px;
}
.adm-email-master .adm-email-master-step.active .adm-email-master-step-icon {
    background-position: 0px -100px;
}
.adm-email-master .adm-email-master-step.passed .adm-email-master-step-icon {
    background-position: 0px -200px;
}

.adm-email-master .adm-email-master-step .adm-email-master-step-icon:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: block;
    margin: auto;
    background: url("images/sender/email-master-step.png") no-repeat 0px 0px;
}

.adm-email-master .adm-email-master-step-addmail .adm-email-master-step-icon:before {
    width: 58px;
    height: 49px;
    background-position: 0px 0px;
    top: -8px;
}
.adm-email-master .adm-email-master-step-addgroup .adm-email-master-step-icon:before {
    width: 66px;
    height: 46px;
    background-position: 0px -54px;
    left: 3px;
}
.adm-email-master .adm-email-master-step-addissue .adm-email-master-step-icon:before {
    width: 53px;
    height: 52px;
    background-position: -2px -105px;
    left: -4px;
    top: -1px;
}
.adm-email-master .adm-email-master-step-timingmail .adm-email-master-step-icon:before {
    width: 62px;
    height: 62px;
    background-position: 0px -156px;
    left: 5px;
}
.adm-email-master .adm-email-master-step-done .adm-email-master-step-icon:before {
    width: 45px;
    height: 44px;
    background-position: -6px -223px;
    left: -4px;
}

.adm-email-master .adm-email-master-step .adm-email-master-step-divider {
    position: absolute;
    top: 45px;
    width: 100%;
    height: 10px;
    background: #d4d9db;
}
.adm-email-master .adm-email-master-step:first-child .adm-email-master-step-divider {
    width: 50%;
    right: 0px;
}
.adm-email-master .adm-email-master-step:last-child .adm-email-master-step-divider {
    width: 50%;
    left: 0px;
}

.adm-email-master .adm-email-master-step .adm-email-master-step-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.sender-wizard-btn-cont{
    margin-top: 20px;
}

.adm-email-master-container .adm-white-container .adm-detail-content-item-block-title  {
    font-size: 18px;
    font-weight: normal;
}

.adm-email-master-container .adm-white-container .adm-detail-content-item-block-span {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
    display: block;
}

.adm-detail-content-item-block-save {
    line-height: 28px;
    margin-top: 15px;
    font-weight: normal;
}

.sender-mailing-group-container {
    min-height: 27px;
    padding: 13px 17px;
}

.sender-mailing-group-container.sender-mailing-group-add {
    background: #e4f2f7;
    color: #345f71;
}
.sender-mailing-group-container.sender-mailing-group-add .adm-white-container-p {
    border-left: 1px solid #d7e5ea;
}

.sender-mailing-group-container.sender-mailing-group-del {
    background: #fde4e1;
    color: #9e2f2f
}
.sender-mailing-group-container.sender-mailing-group-del .adm-white-container-p {
    border-left: 1px solid #f1cecc;
}
.sender-mailing-group-container.sender-mailing-group-ok {
    background: #E7F0CF;
    color: #738A37;
}
.sender-mailing-group-container.sender-mailing-group-ok .adm-white-container-p {
    border-left: 1px solid #D4E49A;
}

.sender-mailing-group-container .sender-mailing-group-container-title {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    line-height: 27px;
    padding-right: 27px;
    padding-left: 38px;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    float: left;
    position: relative;
    display: table;
}

.sender-mailing-group-container .sender-mailing-group-container-title span {
    display: table-cell;
}

.sender-mailing-group-container .sender-mailing-group-container-title:before {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background: url("images/sender/bx-admin-sprite-small-2.png") no-repeat 0 -4642px!important;
}
.sender-mailing-group-container.sender-mailing-group-del .sender-mailing-group-container-title:before {
    background: url("images/sender/bx-admin-sprite-small-2.png") no-repeat 0 -4672px!important;
}
.sender-mailing-group-container.sender-mailing-group-ok .sender-mailing-group-container-title:before {
    background: url("images/sender/bx-admin-sprite-small-2.png") no-repeat 0 -4702px!important;
}

.sender-mailing-group-container .adm-white-container-p {
    font-weight: normal;
    padding-left: 25px;
    display: block;
    overflow: hidden;
    height: 27px;
    min-height: 27px;
    display: table;
}
.sender-mailing-group-container .adm-white-container-p span {
    display: table-cell;
    vertical-align: middle;
}

.adm-email-master-container .adm-white-container .bx-ed-type-selector-item .adm-designed-checkbox-label {
    margin-right: 0px;
    padding-right: 0px!important;
}

.adm-email-master-container .adm-white-container .sender-box-selector-caption {
    font-weight: normal;
    font-size: 14px;
}

.adm-email-master-container .adm-white-container .adm-info-message-wrap {
    font-weight: normal;
}

.adm-detail-content-item-block-save label,
.adm-detail-content-item-block-save input,
.adm-detail-content-item-block-save span,
.adm-detail-content-item-block-save span span {
    font-size: 13px;
    margin-right: 0px;
    vertical-align: middle;
    display: inline-block;
}


.adm-email-master-container .adm-white-container label.adm-designed-checkbox-label {margin-right: 5px;}

.adm-email-master-container .adm-detail-content-table.edit-table td span.adm-fn {
    font-size: 11px;
    font-weight: normal;
    color: #878787;
}

.adm-email-master-container .adm-detail-content-table.edit-table td span.hidden-when-show-template-list-name{
    font-size: 16px;
    line-height: 28px;
}

.adm-email-master-container .adm-detail-content-table.edit-table td span.hidden-when-show-template-list-name + .sender-link-email {
    color: #d32f2f;
    font-size: 14px;
    text-decoration: underline;
    border: none;
    margin-left: 15px;
}

.adm-email-master-container .adm-detail-content-table.edit-table td span.hidden-when-show-template-list-tags {
    color: #676a6c;
    font-size: 13px;
}

.adm-email-master-container .adm-detail-content-table.edit-table td span.hidden-when-show-template-list-name + .sender-link-email:hover {
    text-decoration: none;
}

.adm-detail-content-table.edit-table td span.hidden-when-show-template-list-info {
    background: url("images/sender/bx-admin-sprite-small-2.png") no-repeat 0px -4598px;
    width: 19px;
    height: 20px;
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
}

.adm-email-master-container .adm-detail-content-table.edit-table td span.hidden-when-show-template-list-text {
    width: 420px;
    display: block;
    font-size: 12px;
    line-height: 18px;
}

.adm-email-master-container .adm-detail-content-table.edit-table textarea {
    width: 490px;
    height: 70px;
}


.adm-email-master-container .adm-white-container table.adm-detail-content-table>tbody>tr>td:last-child {
    vertical-align: top;
}

.adm-email-master-container .adm-white-container table.adm-detail-content-table>tbody>tr>td:first-child {
    width: 25%;
    min-width: 250px;
    vertical-align: top;
    padding-top: 10px;
}

table.adm-detail-content-table>tbody>tr.hidden-when-show-template-list>td:first-child {
    width: 25%;
}

.sender-template-type-selector-button {
    padding: 7px 13px;
    margin-bottom: 20px;
    display: inline-block;
    float: left;
    clear: left;
    font-weight: normal;
    height: 15px;
}

.sender-template-type-selector-button:hover, .sender-template-type-selector-button-selected {
    position: relative;
    background: -webkit-linear-gradient(bottom,  #2595d2, #30b4de)!important;
    background: -moz-linear-gradient(bottom,  #2595d2, #30b4de)!important;
    background: -ms-linear-gradient(bottom,  #2595d2, #30b4de)!important;
    background: -o-linear-gradient(bottom,  #2595d2, #30b4de)!important;
    background: linear-gradient(bottom,  #2595d2, #30b4de)!important;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    font-weight: bold;
    font-size: 13px;
    height: 27px;
    line-height: 27px;
    text-decoration: none;
    border: 1px solid #1a99d0;
    border-top: 1px solid #31a8e3;
    border-bottom: 1px solid #028abc;
    padding: 0px 13px;
    box-shadow: inset 0px 1px 0px 0px  #48d9ef, 0px 1px 1px 0px rgba(0,0,0,0.25);
    border-radius: 2px;
}

.sender-template-type-selector-button:active {
    background: -webkit-linear-gradient(bottom,  #0089c5, #008ac6)!important;
    background: -moz-linear-gradient(bottom,  #0089c5, #008ac6)!important;
    background: -ms-linear-gradient(bottom,  #0089c5, #008ac6)!important;
    background: -o-linear-gradient(bottom,  #0089c5, #008ac6)!important;
    background: linear-gradient(bottom,  #0089c5, #008ac6)!important;
    box-shadow: inset 0px 1px 0px 0px  #0c6595, 0px 1px 1px 0px rgba(0,0,0,0.25);
    border-top: 1px solid #0f5884;
    border-bottom: 1px solid #008ac6;
    height: auto!important;
    padding: 0px 13px!important;
    border-radius: 2px;
    height: 27px;
    line-height: 27px;
}

.sender-template-type-selector-button:hover:before, .sender-template-type-selector-button-selected:before {
    content: '';
    position: absolute;
    top: -1px;
    right: -10px;
    width: 11px;
    height: 29px;
    background: url("images/sender/bx-admin-sprite-small-2.png") no-repeat 0px -4495px!important;
}

.sender-template-type-selector-button:active:before {
    content: '';
    position: absolute;
    top: -1px;
    right: -10px;
    width: 11px;
    height: 29px;
    background: url("images/sender/bx-admin-sprite-small-2.png") no-repeat 0 -4562px!important;
}



.adm-email-master-container .adm-white-container .adm-btn.adm-btn-grey:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 9px;
    top: 0px;
    bottom: 0px;
    right: 15px;
    margin: auto;
    background: url("images/sender/bx-admin-sprite-small-2.png") -3px -4478px;
}

.adm-email-master-container .adm-white-container .adm-btn.adm-btn-grey{
    height: 32px !important;
    padding: 0px 40px 0px 15px !important;
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    color: #646d7a;
    text-shadow: 0px 1px 0px #fff;
    border: 1px solid #b8c2c6;
    border-top: 1px solid #c8d1d4;
    border-bottom: 1px solid #99a4a9;
    box-shadow: inset 0px 1px 0px 0px #eef2f3, 0px 1px 1px 0px #cfcfcf;
    border-radius: 2px;
    background: -webkit-linear-gradient(bottom, #becfd3, #dce5e7)!important;
    background: -moz-linear-gradient(bottom, #becfd3, #dce5e7)!important;
    background: -ms-linear-gradient(bottom, #becfd3, #dce5e7)!important;
    background: -o-linear-gradient(bottom, #becfd3, #dce5e7)!important;
    background: linear-gradient(bottom, #becfd3, #dce5e7)!important;
}

.adm-email-master-container .adm-white-container .adm-btn.adm-btn-grey:hover{
	background: -webkit-linear-gradient(bottom,  #e3e8ea, #eff2f4)!important;
	background: -moz-linear-gradient(bottom,  #e3e8ea, #eff2f4)!important;
	background: -ms-linear-gradient(bottom,  #e3e8ea, #eff2f4)!important;
	background: -o-linear-gradient(bottom,  #e3e8ea, #eff2f4)!important;
	background: linear-gradient(bottom,  #e3e8ea, #eff2f4)!important;
}
.adm-email-master-container .adm-white-container .adm-btn.adm-btn-grey:active{
	background: -webkit-linear-gradient(bottom,  #c4d3d7, #bac7cb)!important;
	background: -moz-linear-gradient(bottom,  #c4d3d7, #bac7cb)!important;
	background: -ms-linear-gradient(bottom,  #c4d3d7, #bac7cb)!important;
	background: -o-linear-gradient(bottom,  #c4d3d7, #bac7cb)!important;
	background: linear-gradient(bottom,  #c4d3d7, #bac7cb)!important;
	height: 32px!important;
	padding: 0px 40px 0px 15px!important;
	border-radius: 2px;
	border: 1px solid #bac7cb;
	border-top: 1px solid #9ba3a9;
	border-bottom: 1px solid #c4d3d7;
	box-shadow: inset 0px 1px 1px 0px #a6afb4;
    line-height: 32px;
}


.adm-email-master-container span.adm-btn-input-container {
    position: relative;
    display: block;
}

.adm-email-master-container span.adm-btn-input-container .adm-btn.adm-btn-grey{
    padding: 0px 20px!important;
    margin-top: 0;
}
.adm-email-master-container span.adm-btn-input-container .adm-btn.adm-btn-grey:active{
    padding: 0px 20px!important;
    margin-top: 0;
}

.adm-email-master-container span.adm-btn-input-container.left-input-container span{
    background-position: -3px -4627px;
}
.adm-email-master-container span.adm-btn-input-container span {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 12px;
    height: 9px;
    margin: auto;
    background: url("images/sender/bx-admin-sprite-small-2.png") -3px -4478px;
    cursor: pointer;
}

.adm-email-master-container .adm-white-container input[type="button"].adm-btn-add.adm-btn-green, .sender-box-selector input[type="button"].adm-btn-add.adm-btn-green{
    background: url("images/sender/bx-admin-sprite-small-2.png") no-repeat 10px -665px #86ad00!important;
}

.sender-mailing-container{
    background: rgb(244, 249, 249);
    border: 1px solid rgb(230, 230, 230);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 3px;
    padding: 20px;
}

.sender-wizard-trig-mailing-tmpl-list-item {
    position: relative;
    display: block;
    margin: 0 25px 25px 0;
}

.sender-wizard-trig-mailing-tmpl-list-item-inner {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 3;
    position: relative;
    padding: 15px 25px 30px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
    background: #fff url("images/sender/email-master-triger-bg.jpg") repeat-x 25px 0px;
}

.sender-wizard-trig-mailing-tmpl-list-item:before {
    content: '';
    position: absolute;
    top: 10px;
    bottom: -10px;
    right: -10px;
    left: 10px;
    margin: auto;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
    background: #fff;
    z-index: 2;
}

.sender-wizard-trig-mailing-tmpl-list-item:after {
    content: '';
    position: absolute;
    top: 20px;
    bottom: -20px;
    right: -20px;
    left: 20px;
    margin: auto;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
    background: #fff;
    z-index: 1;
}

.sender-wizard-trig-mailing-tmpl-list-item-inner h2 {
    border-bottom: 1px solid #c6d2dd;
    padding-bottom: 15px;
}

.sender-time-dialog {
    padding: 10px 0px;
    display: none;
}
#bx-admin-prefix #sender-letter-container-time-dialog .popup-window-close-icon{
    background-color: #fff;
}

.sender-trigger-status-mailing {
    margin-bottom: 10px;
    background: url(images/sender/container-letter-bg.png) repeat-y 5px 0;
    padding: 0 0 25px 30px;
}

.sender-trigger-status-mailing-finish {
    background: none;
}

.sender-trigger-status-mailing-title {
    position: relative;
    font-size: 17px;
    color: #2d2e2f;
    line-height: 36px;
    font-weight: bold;
}

.sender-trigger-status-mailing-title:before {
    content: '';
    position: absolute;
    top: 12px;
    bottom: 0;
    left: -29px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #949caa;
    display: block;
    box-shadow: 0 5px 0 0 #f5f9f9, 0 -12px 0 0 #f5f9f9
}

.sender-trigger-status-mailing-desc {
    color: #536677;
    font-size: 14px;
    background: #e3ecee;
    line-height: 37px;
    padding: 0 17px;
    border-radius: 3px;
    font-weight: bold;
}

.sender-trigger-chain-container-letter {
    background: url(images/sender/container-letter-bg.png) repeat-y 5px 0;
    padding: 0 0 25px 30px;
    margin-top: 10px;
}

.sender-trigger-status-mailing-time {
    position: relative;
    font-size: 14px;
    color: #2d2e2f;
    line-height: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}

.sender-trigger-status-mailing-time:before {
    display: inline-block;
    content: '';
    width: 12px;
    height: 30px;
    background: #f5f9f9 url("images/sender/bx-admin-sprite-small-2.png") no-repeat 0 -4726px;
    position: absolute;
    left: -30px;
    top: 10px;
    bottom: 0;
    margin: auto;
}

.sender_letter_container_move {
    width: 14px;
    padding: 4px 0;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: move;
}

.sender_letter_container_burger {
    position: relative;
    width: 14px;
    height: 2px;
    background: #6f797e;
}

.sender_letter_container_burger:before,
.sender_letter_container_burger:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    background: #6f797e;
    top: -4px;
}

.sender_letter_container_burger:after {
    bottom: -4px;
    top: auto;
}

.sender_letter_container_head h3 {
    font-size: 17px;
    font-weight: bold;
    color: #2d2e2f;
    margin: 0 0 15px;
    min-height: 21px;
}

.sender_letter_container_head {}

.sender_letter_container_sorter_view {
    height: 67px;
    float: left;
    padding: 15px 33px;
    text-align: center;
    border-right: 1px solid #eeeff0;
    margin-right: 20px;
}
.sender_letter_container_sorter_view .sender_letter_container_sorter_text {
    font-size: 24px;
    font-weight: bold;
    line-height: 37px;
    display: inline-block;
}
.sender_letter_container_sorter_icon {
    position: relative;
    width: 47px;
    height: 37px;
    background: #fff;
    border: 2px solid #9ba3b2;
    display: block;
    padding-left: 12px;
    text-align: left;
}
.sender_letter_container_sorter_icon:before {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    width: 7px;
    height: 7px;
    background: #9ba3b2;
}
.sender_letter_container_sorter_icon:after {
    content: '';
    position: absolute;
    width: 18px;
    height: 6px;
    border-top: 2px solid #8aa3ac;
    border-bottom: 2px solid #8aa3ac;
    right: 3px;
    bottom: 3px;
    box-shadow: inset 0 2px 0 0 #fff, inset 0 -2px 0 0 #fff;
    background: #8aa3ac;
}

.sender_letter_container-info {
    display: block;
    font-size: 12px;
    color: #86898b;
    margin-bottom: 20px;
}

.sender_letter_container-author {
    color: #474747;
    font-size: 12px;
}

.sender_letter_container-author:hover {
    text-decoration: none;
}

.sender_letter_container-create {
    font-weight: bold;
    color: #383b3c;
}

.sender_letter_container_button_show {
    font-size: 14px;
    font-weight: bold;
    color: #475056;
    text-shadow: 0 1px 0 #fff;
    background: #f6f5f9;
    text-decoration: none;
    display: inline-block;
    line-height: 29px;
    padding: 0 30px 0 15px;
    border-radius: 3px;
    position: relative;
}

.sender_letter_container_button_show:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 13px;
    margin: auto;
    height: 0;
    border: 4px solid transparent;
    border-top: 4px solid #475056;
    border-bottom: none;
}

.sender_letter_container_button_show.sender_letter_container_button_hide:before {
    border: 4px solid transparent;
    border-bottom: 4px solid #475056;
    border-top: none;
}

.sender_letter_container_button_show:hover {
    text-decoration: none;
}

.sender_letter_container {
    border-radius: 3px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.29);
    padding: 15px;
    position: relative;
    background: #fff;
}

.sender_letter_container_button_delete {
    position: absolute;
    width: 13px;
    height: 20px;
    display: block;
    top: 4px;
    right: 10px;
    text-decoration: none;
    line-height: 10px;
    font-size: 19px;
    color: #576166;
    font-weight: bold;
    background: url("images/sender/bx-admin-sprite-small-2.png") no-repeat 0 -2446px;
}

.sender_letter_container_button_delete:hover {
    background: url("images/sender/bx-admin-sprite-small-2.png") no-repeat -4px -2987px;
}

.sender_letter_container_body {
    border-top: 1px solid #dee3e8;
    margin-top: 25px;
    padding: 20px 0px 0px 35px;
}

table.trigger_chain_item {
    padding: 5px 0;
    width: 100%;
}

table.trigger_chain_item td {
    padding: 5px 0;
}

table.trigger_chain_item .bx-ed-type-selector {
    text-align: left !important;
}
table.trigger_chain_item .typearea, table.trigger_chain_item input.sender_letter_container_subject{
    width: 98% !important;
}

table.trigger_chain_item td:first-child {
    font-weight: bold;
    font-size: 14px;
}

.sender-trigger-add-letter {
    position: relative;
    background: url(images/sender/container-letter-bg.png) repeat-y 5px 0;
    padding: 0 0 25px 30px;
}

.sender-trigger-add-letter:before {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 1px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #949caa;
    display: block;
    box-shadow: 0 10px 0 0 #f5f9f9, 0 -10px 0 0 #f5f9f9;
}

.adm-white-container .sender-template-type-selector-button{
    max-width: 85%;
}

.adm-white-container .sender-template-type-selector-button span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.senderdrag.sender-trigger-chain-container-letter{
    background: none;
    border-style: dashed;
    border-color: rgb(171, 178, 189);
    border-width: 2px;
    margin-left: 5px;
    background-color: rgb(230, 235, 237);
    margin-bottom: 37px;
}
.senderdrag .sender_letter_container{
    visibility: hidden;
}
.senderdrag .sender-trigger-status-mailing-time{
    display: none;
}
.subscribe_border {border:1px solid #BDC6E0; padding:4px;}

/*Menu icon*/
#vote_menu_icon {background-image:url(icons/vote/mnu_vote.gif);}
#vote_page_icon {background-image:url(icons/vote/title.gif);}

