@charset "utf-8";

/*Сброс стилей*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* устанавливаем фокус */
:focus {
    outline: 0;
}

/* устанавливаем 'cellspacing="0"' для таблиц*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*footer to page`s bottom*/
html, body{
    height: 100%;
    min-height: 100%;
}

.content-holder{
    min-height: 100%;
}

.centered{
    max-width: 960px;
    margin: 2em auto;
}

.centered p{
    margin-bottom: 1em;
}

.centered ul{
    margin: 1em 0;
}

.centered a:hover{
    text-decoration: underline;
}

h1{
    font-size: 2.5em;
    margin-bottom: 1em;
    text-align: center;
}

.main-menu{
    text-align: center;
    background-color: rgb(178, 200, 49);
}

.main-menu li{
    display: inline-block;
    background-color: #7C8A29;
}

.main-menu li:hover, .main-menu li.selected{
    background-color: #636D28;
}

.main-menu li a{
    display: inline-block;
    padding: 1em 2em;
    color: white;
}

.breadcrumb{
    font-size: 0.75em;
    text-align: left;
}

.breadcrumb li{
    display: inline-block;

}

.breadcrumb li a:after{
    content: '>';
    display: inline-block;
    padding: 0.5em 1em;
}

.news-preview-holder{
    margin-bottom: 1.5em;
}

.similar-holder{
    margin-top: 2em;
}

.similar-heading{
    font-size: 1.5em;
}

.clear{
    clear: both;
}